__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.eggs/
*.so
.venv/
venv/
env/
.env
.pytest_cache/
.mypy_cache/
.tox/
htmlcov/
.coverage
*.svg
*.png
!tests/fixtures/*.svg
!tests/fixtures/*.png
!docs/assets/images/examples/*.svg
.old/
demo_output/
.vscode/
.idea/
examples/demo_output/
site/